$orange-color: #FB8C00;
$hover-orange-color: #FCB44A;
$gray-color: #c2c2c2;

@mixin box-shadow-left() {
	-webkit-box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.75);
}


.row {
	padding-top: 0;
}

.panel-left {
	@include box-shadow-left();
	position: fixed;
	height: 100vh;
	padding: 0 !important;
	overflow: auto;
	width: 25%;
	float: left;
	
	.welcome-box {
		height: 100px;
		border-bottom: 1px solid $gray-color;
		text-align: center;
	}
	
	.item-index-box {
		$li-height: 50px;
		li {
			height: $li-height;
			line-height: $li-height;
			
			a {
				height: $li-height;
				display:block;
				padding-left: 10px;
				&:hover {
					background: #F3F3F3;
				}
				.active {
					background: #d4d4d4
				}
				
				i.material-icons {
					margin-right: 10px;
					vertical-align: middle;
				}
				
			}
			ul.sub-item-index {
				li {
					a {
						padding-left: 30px;
					}
				}
			}
		}
	}
}

.panel-right {
	min-height: 100vh;
	padding: 0 !important;
	background: #FCFCFC;
	width: 75%;
	float: right;
	
	.title-panel {
		height:100px;
		line-height: 100px;
		
		span {
			font-size: 40px;
		    margin-left: 33px;
		    color: #fff;
		}
	}
	.content {
		padding: 10px;
	}
}

.message-list {
	height: 100vh;
	overflow: auto;
	
	.sender-name {
		color: $orange-color;
		&:hover {
			color:$hover-orange-color;
		}
	}
	
	.short-content {
		@extend .small-text;
	}
	
	.collection-item {
		&.active {
			border-right: 5px solid $orange-color;
		}
		&:hover {
			background: $gray-color;
			.delete-message {
				color: #fff;
			}
			
		}
	}
	
	.delete-message {
		position: absolute;
		top: 0;
		right: 0;
		color:$gray-color;
	}
}


.middle-valign {
	display: table-cell;
	vertical-align: middle;
}

.small-text {
	font-size: 13px;
}

.message-detail {
	.message-detail-block {
		margin-bottom: 30px;
		padding-bottom: 10px;
		border-bottom: 1px solid $gray-color;
		.message-detail-info {
			height: 60px;
			background-color: #d4f7f3;
			display:table;
			width: 100%;
			padding: 8px;
			img {
				&.small-avatar {
					@extend .middle-valign;
					width: 40px;
					height: 40px;
					float: left;
				}	
			}
			
			.sender {
				@extend .middle-valign;
				font-size: 16px;
				font-weight: 500;
				display: table-cell;
				margin-left: 5px;
				float: left;
			}
			
			.retrieved-date {
				display: inline;
				float: right;
				font-style: italic;
				font-size: 13px;
			}
		}
	}
	
}

.box-input {
	position: relative;
	
	.input-icon {
		position: absolute;
		top: 10px;
    	right: 0;
	}
	
	label {
		font-size: 16px;
	}
	input[type=text] {
		background-color: #FFF;
		border: none;
		padding: 0 4px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		border-radius: 3px;
		display: inline;
		
		&.inline-input {
			width: 200px;
		}
		
		&:focus {
			border:none;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		}
	}
}