.company-banner {
    height: 200px;
    width: 100%;
    position: relative;
}

.company-cover {
    position: absolute;
    width: 100%;
    height: 200px !important;
}

.social-connect-box {
    position: absolute;
    min-width: 200px;
    height: 50px;
    right: 30px;
    bottom: 10px;
    line-height: 50px;
    padding: 0 5px;
    background:url("../images/opacity_bg.png");
}

.social-company-name {
    font-size: 20px;
    color: #FFF;
}

.social-connect-box a {
    display: inline-block;
    height: 100%;
}
.social-connect-box a img{
    vertical-align: middle;
}

.company-banner .company-logo {
    position: absolute;
    height: 150px;
    width: 150px;
    padding: 5px;
    line-height: 150px;
    border-radius: 5px;
    background: #fff;
    top: 120px;
    left: 100px;
}

.company-header {
    height: 70px;
}

.company-header .company-name {
    font-size: 28px;
}

.activity {
    border-bottom: 1px dotted #c2c2c2;
    padding-bottom: 10px;
}

.location-action {
	position: absolute;
    right: 0;
    height: 45px;
    line-height: 45px;
    padding: 0 5px;
}

.fixed-action-btn {
	position: static;
}

.fixed-action-btn.horizontal ul li {
	margin: 0px 5px 0 0;
}

.fixed-action-btn.horizontal ul {
	top: 40%;
}

.comment-bg {
	background: #fafafa !important;
	overflow: auto;
}

.menu-banner {
	display: inline-flex;
	margin-top: 10px;
}

.menu-banner li{
	margin-right: 10px;
}

.menu-banner li a {
	cursor: pointer;
}

.menu-banner li a:hover {
	border-bottom: 1px solid #fb8c00;
}
.menu-banner .active {
	border-bottom: 1px solid #fb8c00;
}

.feed-actions {
	display: inline-flex !important;
}

.feed-actions>li {
	margin: 0 10px 0 0;
    color: #9e9e9e;
}

.small-text {
	font-size: 13px;
}

.apply-number {
	position: absolute;
	bottom: 20px;
	right: 10px;
}

.apply-number div.label{
	padding: 0 3px;
	display: inline-block;
	float: left;
	line-height: 30px;
	height: 30px;
	color: #FFF;
	background: #689F39;
}

.apply-number div.value{
	padding: 0 3px;
	display: inline-block;
	height: 30px;
	color: #FFF;
	line-height: 30px;
	background: #0097A8;
}

.apply-card-title {
	line-height: normal !important;
	margin-bottom: 15px !important;
}

.apply-card-title .applier-name {
	display: block;
}

.apply-card-title .timestamp {
	float: right;
}
