body {
	position: relative;
}
.profile-banner {
    height: 200px;
    width: 100%;
    position: relative;
}

.profile-cover {
    position: absolute;
    width: 100%;
    height: 200px !important;
}
.social-connect-box {
    position: absolute;
    min-width: 200px;
    height: 50px;
    right: 30px;
    bottom: 10px;
    line-height: 50px;
    padding: 0 5px;
    background:url("../images/opacity_bg.png");
}

.profile-banner .profile-logo {
    position: absolute;
    height: 150px;
    width: 150px;
    padding: 5px;
    line-height: 150px;
    border-radius: 5px;
    background: #fff;
    top: 120px;
    left: 100px;
}

.profile-header {
    height: 70px;
}

.profile-header .profile-name {
    font-size: 28px;
}
.chip-inputs {
    background: #fff;
    padding: 10px;
    border-radius: 2px;
}

.chip-inputs .chip {
	background: #eeeeee !important;
}

.chip-inputs-wrapper {
	display: -webkit-inline-box;
	display: inline-box;
}
.chip-inputs-wrapper .add-chip {
	width: 150px;
	background: none !important;
    border: none !important;
    position: relative;
}

.chip-inputs-wrapper .add-chip:hover {
	 border: none !important;
}
.chip-inputs-wrapper .add-chip input {
	height: 30px !important;
	border: none !important;
}
.chip-inputs-wrapper .add-chip .suggestSearch {
	position: absolute;
	left: 10px;
	width: 200px;
    background: #f8f8f8;
    display: none;
    margin-top: 1px;
    z-index: 10;
}

.add-chip .suggestSearch ul {
	list-style-type: none;
}
.add-chip .suggestSearch ul li {
	 padding: 5px;
}

.add-chip .suggestSearch ul li:hover {
	background: #dadada;
}

.small-icon {
	font-size: 18px;
}

.profile-skills {
}

.skill-pill {
	display: block;
	overflow: all;
	display: inline-flex;
}
.skill-pill .endorse-count {
	padding: 0 7px;
	background: #0277bd;
	color: #fff;
	font-weight: 500;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.skill-pill .endorse-item-name {
	padding: 0 10px;
	background: #eeeeee;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	white-space: nowrap !important;
}

.skills-section {
	list-style: none;
}

.skills-section li {
	display: inline-flex;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 2px 0;
}

.endorsers-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.endorsers-pics {
	float: right;
	display: inline-flex;
	position: relative;
	background: #fff;
}

.endorsers-pics li {
	margin-left: 1px;
	cursor: pointer;
}

.endorsers-pics li a {
	width: 30px;
	height: 30px;
}

.endorsing {
	display: inline-flex;
	line-height: 30px;
	font-size: 14px;
	cursor: pointer;
	margin-top: 3px;
}
.margin-top-3px {
    margin-top: 3px !important;
}

.line-container {
	position: absolute;
	width: 100%;
	top: 0px;
	opacity: .2;
	padding: 4px 5px 0 5px;
}

.endorsers-action {
	opacity: .5;
	width: 10px;
}

.display-none {
	display: none;
}

.addEndord {
	animation: addEndord;
	animation-duration: 2s;
}

/* The animation code */
@keyframes addEndord {
    from {margin-right: -20px;}
    to {margin-right: 0px;}
}

.skill-selection-different {
	height: 30px;
	line-height: 30px;
	display: inline-flex;
	cursor: pointer;
}
.skill-selection-different li {
	margin: 2px 10px 2px 0;
}
.skill-selection-different .icon-endorse {
	position: relative;
	padding-top: 3px;
	height: 20px;
	line-height: 20px;
}

.line-container hr {
	margin-top: 11px;
}

/*===========================================*/
.tooltil-show-member {
	position: absolute !important;
	top: 10px;
	left: 200px;
	background: #fbfbfb;
	width: 250px;
	height: 100px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid #bdbdbd;
	position: relative;
	display: none;
	text-align: center;
}

.tooltil-show-member .btn {
	height: 30px !important;
	line-height: 30px;
	width: 100px !important;
	font-size: 12px !important;
	padding: 0;
}
.tooltil-show-member .triangle {
	position: absolute;
	bottom: -15px;
	left: 115px;
	width: 15px;
	height: 15px;
	border-top: 15px solid #eeeeee;
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent; 
}
.tooltil-show-member img {
	width: 50px;
	height: 50px;
}

.location-action {
	position: absolute;
    right: 0;
    top: 5px;
    height: 45px;
    line-height: 45px;
    padding: 0 5px;
}

.education-media li {
	display: inline-flex;
	margin-right: 10px;
	background: #eceff1;
	padding: 5px 5px;
	cursor: pointer;
}

.education-media li:hover {
	background: #0277bd;
}

.education-media li:hover span, .education-media li:hover i {
	color: #fff !important;
}

.education-media li span {
	margin-left: 5px;
}