.profile-banner {
    height: 200px;
    width: 100%;
    position: relative;
}

.profile-cover {
    position: absolute;
    width: 100%;
    height: 200px !important;
}
.social-connect-box {
    position: absolute;
    min-width: 200px;
    height: 50px;
    right: 30px;
    bottom: 10px;
    line-height: 50px;
    padding: 0 5px;
    background:url("../images/opacity_bg.png");
}

.profile-banner .profile-logo {
    position: absolute;
    height: 150px;
    width: 150px;
    padding: 5px;
    line-height: 150px;
    border-radius: 5px;
    background: #fff;
    top: 120px;
    left: 100px;
}

.profile-header {
    height: 70px;
}

.profile-header .profile-name {
    font-size: 28px;
}
.chip-inputs {
    background: #fff;
    padding: 10px;
    border-radius: 2px;
}

.chip-inputs .chip {
	background: #eeeeee !important;
}

.chip-inputs-wrapper {
	display: -webkit-inline-box;
	display: inline-box;
}
.chip-inputs-wrapper .add-chip {
	width: 150px;
	background: none !important;
    border: none !important;
    position: relative;
}

.chip-inputs-wrapper .add-chip:hover {
	 border: none !important;
}
.chip-inputs-wrapper .add-chip input {
	height: 30px !important;
	border: none !important;
}
.chip-inputs-wrapper .add-chip .suggestSearch {
	position: absolute;
	left: 10px;
	width: 200px;
    background: #f8f8f8;
    display: none;
    margin-top: 1px;
    z-index: 10;
}

.add-chip .suggestSearch ul {
	list-style-type: none;
}
.add-chip .suggestSearch ul li {
	 padding: 5px;
}

.add-chip .suggestSearch ul li:hover {
	background: #dadada;
}