* {
	margin: 0;
	padding: 0;
	color: #333333;
}

.mp0 {
	margin: 0 !important;
	padding: 0 !important;
}

.cl-white {
	color: white !important;
}

.cl-black {
	color: #212121 !important;
}

body {
	background: #E4EEF2;
}

header {
	background: #FFF;
	width: 100%;
	height: 110px;
	border-bottom: 1px solid #c2c2c2;
}

header #topnav {
	width: 90%;
	height: 100%;
	margin: auto;
	padding: 0 0.75rem;
}

nav {
	display: none;
}

.none-padding-left {
	padding-left: 0 !important;
}

.none-margin-bottom {
	margin-bottom: 0 !important;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.display-block {
	display: block;
}

.display-inline-flex {
	display: inline-flex;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-10 {
	margin: 0 10px;
}

.margin-0 {
	margin: 0 !important;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-top-4 {
	padding-top: 4px !important;
}

.prefix-icon {
	vertical-align: middle;
	margin-right: 5px;
	opacity: 0.5;
}

.prefix-icon-r {
	vertical-align: middle;
	margin-left: 2px;
	opacity: 0.7;
}

hr.fancy-hr {
	border: 0;
	height: 5px;
	background: linear-gradient(to right, red, yellow, green);
	margin: 8px 0;
}

.circle-btn {
	width: 60px;
	height: 60px;
	margin: 0 5px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 30px;
	font-size: 33px;
	padding-left: 9px;
	padding-top: 7px;
	display: inline-block;
	cursor: pointer;
	float: right;
}

.circle-btn>i.material-icons {
	font-size: 45px;
}

.bold-text {
	font-weight: bolder;
}

.info-text {
	color: #02A8F3;
}

.warning-text {
	color: #e5760d;
}

.higher-line {
	line-height: 28px;
}

h1.title {
	font-size: 24px;
	text-transform: capitalize;
	margin: 0;
	margin-bottom: 3px;
	opacity:.7;
	font-weight: bold;
}

#footer {
	height: 50px;
	background: #02A8F3;
	color: #FFF;
	text-align: center;
	line-height: 50px;
}

.activity-box {
	margin-bottom: 15px;
}

.txt-errors {
	display: none;
	color: #f44336;
}

.input-field>label {
	left: 0 !important;
}

.p-0 {
	padding: 0 !important;
}

.padding-10 {
	padding: 10px !important;
}

.text-justify {
	text-align: justify;
}

.block-with-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.chip {
	border: 1px solid #bdbdbd !important;
    background: none !important;
    cursor: pointer;
}

.chip:hover {
	color: #fb8c00;
	border: 1px solid #fb8c00 !important;
}

.img-full {
	width: 100% !important;
	height: 100% !important;
}

.text-align-center {
	text-align: center;
}

.font-size-12 {
	font-size: 12px;
}

.overflow-auto {
	overflow: auto;
}

.display-block {
	display: block !important;
}

.chip {
	margin: 2px 5px 2px 0px;
}

.disabled[disabled] {
	opacity: .5;
	cursor: default !important;
	pointer-events: none;
}

.a-text-color {
	color: #bdbdbd !important;
	cursor: pointer;
}

.a-text-color:hover {
	color: #039be5 !important;
	text-decoration: underline !important;
}

.remove-border {
	border: none !important;
}

.small-icon {
	font-size: 18px;
	opacity: .5;
	margin-right: 2px;
}

.opacity-7 {
	opacity: .7;
}

.border-error {
	border: #fb4639 1px solid !important
}

#introduce-slider {
	height: 200px;
	width: 100%;
	background: #c2c2c2;
}

#main-container {
	width: 90%;
	margin: 10px auto;
}

#main-container .card-panel {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.panel-title {
	font-size: 20px;
	display: block;
	margin: 0px;
	width: 100%;
	height: 45px !important;
	background: #fb8c00;
	color: #FFF;
	line-height: 45px;
	padding-left: 10px;
	text-transform: uppercase;
}
.panel-content {
	padding: 10px 0px 0px 0px !important;
}

.position-relative {
	position: relative;
}

.big-text {
	font-size: 20px !important;
}

.cursor {
	cursor: pointer;
}
@import url("smart.css");