.mp0 {
	margin: 0 !important;
	padding: 0 !important;
}

.bg {
	background-color: #212121;
}

body {
	position: relative;
	overflow: hidden;
}
nav {
	position: absolute;
	top: 0;
}
.row {
	padding-top: 64px !important;
	height: 100vh;
}
.menu-left {
	height: 100%;
}

.content {
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 20px !important;
}

.border-none {
	border: none !important;
}

.bg-black {
	background: #000 !important;
}

.menu-left .collection-item {
	display: flex !important;
}

.menu-left .collection-item b {
	display: block;
	line-height: 30px;
	margin-left: 5px;
}

.mr-2 {

}
.brand-logo {
	display: inline-flex !important;
}

.brand-logo img {
	width: 60px;
	height: 60px;
	margin: 2px 2px 0px 2px;
	line-height: 64px;
}

.brand-logo span {
	display: block;
	line-height: 64px;
}