.row {
  padding-top: 0; }

.panel-left {
  -webkit-box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 100vh;
  padding: 0 !important;
  overflow: auto;
  width: 25%;
  float: left; }
  .panel-left .welcome-box {
    height: 100px;
    border-bottom: 1px solid #c2c2c2;
    text-align: center; }
  .panel-left .item-index-box li {
    height: 50px;
    line-height: 50px; }
    .panel-left .item-index-box li a {
      height: 50px;
      display: block;
      padding-left: 10px; }
      .panel-left .item-index-box li a:hover {
        background: #F3F3F3; }
      .panel-left .item-index-box li a .active {
        background: #d4d4d4; }
      .panel-left .item-index-box li a i.material-icons {
        margin-right: 10px;
        vertical-align: middle; }
    .panel-left .item-index-box li ul.sub-item-index li a {
      padding-left: 30px; }

.panel-right {
  min-height: 100vh;
  padding: 0 !important;
  background: #FCFCFC;
  width: 75%;
  float: right; }
  .panel-right .title-panel {
    height: 100px;
    line-height: 100px; }
    .panel-right .title-panel span {
      font-size: 40px;
      margin-left: 33px;
      color: #fff; }
  .panel-right .content {
    padding: 10px; }

.message-list {
  height: 100vh;
  overflow: auto; }
  .message-list .sender-name {
    color: #FB8C00; }
    .message-list .sender-name:hover {
      color: #FCB44A; }
  .message-list .collection-item.active {
    border-right: 5px solid #FB8C00; }
  .message-list .collection-item:hover {
    background: #c2c2c2; }
    .message-list .collection-item:hover .delete-message {
      color: #fff; }
  .message-list .delete-message {
    position: absolute;
    top: 0;
    right: 0;
    color: #c2c2c2; }

.middle-valign, .message-detail .message-detail-block .message-detail-info img.small-avatar, .message-detail .message-detail-block .message-detail-info .sender {
  display: table-cell;
  vertical-align: middle; }

.small-text, .message-list .short-content {
  font-size: 13px; }

.message-detail .message-detail-block {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c2c2c2; }
  .message-detail .message-detail-block .message-detail-info {
    height: 60px;
    background-color: #d4f7f3;
    display: table;
    width: 100%;
    padding: 8px; }
    .message-detail .message-detail-block .message-detail-info img.small-avatar {
      width: 40px;
      height: 40px;
      float: left; }
    .message-detail .message-detail-block .message-detail-info .sender {
      font-size: 16px;
      font-weight: 500;
      display: table-cell;
      margin-left: 5px;
      float: left; }
    .message-detail .message-detail-block .message-detail-info .retrieved-date {
      display: inline;
      float: right;
      font-style: italic;
      font-size: 13px; }

.box-input {
  position: relative; }
  .box-input .input-icon {
    position: absolute;
    top: 10px;
    right: 0; }
  .box-input label {
    font-size: 16px; }
  .box-input input[type=text] {
    background-color: #FFF;
    border: none;
    padding: 0 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    display: inline; }
    .box-input input[type=text].inline-input {
      width: 200px; }
    .box-input input[type=text]:focus {
      border: none;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/*# sourceMappingURL=style.css.map */
